<div id="flash">
<div class="row">
  <div class="col-md-12">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %>
        <a class="close" data-dismiss="alert">&#215;</a>
        </div>
      <% end %>
  </div>
</div>
</div>
<script type="text/javascript">
$('#flash').slideDown(function() {
    setTimeout(function() {
        $('#flash').slideUp();
    }, 5000);
});
</script>

<!-- $(function() {
   $('#flash').delay(100).fadeIn('normal', function() {
      $(this).delay(4000).fadeOut();
   });
}); -->


<!--<div id="12">
  <div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Warning!</h4>
    <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
  </div>
</div>
<script type="text/javascript">
$('#12').slideDown(function() {
    setTimeout(function() {
        $('#12').slideUp();
    }, 5000);
});
</script> -->